In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [2]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [3]:
! cp kaggle.json ~/.kaggle/

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [5]:
! kaggle competitions download -c nitro-lang-processing-1

nitro-lang-processing-1.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
! unzip nitro-lang-processing-1.zip

Archive:  nitro-lang-processing-1.zip
replace random_seed_setter.py? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:
error:  invalid response [{ENTER}]
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:
error:  invalid response [{ENTER}]
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [7]:
import json
import pandas as pd

In [8]:
path = './train.json'

In [9]:
continuturi = pd.read_json(path)

In [10]:
continuturi

,ner_tags,ner_ids,tokens,space_after
0,"[O, GPE, O, O, O, O, O, O, LOC, O, O, O, O, O,...","[0, 3, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, ...","[În, România, ,, ca, de, altfel, în, întreaga,...","[True, False, True, True, True, True, True, Tr..."
1,"[O, O, O, DATETIME, DATETIME, O, O, O, O, O, O...","[0, 0, 0, 9, 9, 0, 0, 0, 0, 0, 0, 0, 13, 13, 1...","[Se, estimează, că, în, prezent, acestea, sunt...","[True, True, True, True, True, True, True, Tru..."
2,"[O, O, O, O, O, NUMERIC, O, O, O, PERSON, O, P...","[0, 0, 0, 0, 0, 13, 0, 0, 0, 1, 0, 1, 0, 0, 1,...","[Cartea, cuprinde, o, suită, de, 115, texte-re...","[True, True, True, True, True, True, True, Tru..."
3,"[O, O, O, O, O, O, O, O, O, O, O, DATETIME, DA...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 9, 9, 0]","[Bursele, pentru, proiecte, ArtsLink, -, terme...","[True, True, True, True, True, True, True, Tru..."
4,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Aplicația, informațională, este, însoțită, de...","[True, True, True, True, True, True, True, Tru..."
...,...,...,...,...
12325,"[O, O, NUMERIC, O, O, O, O, O, O, O, O, O, O, ...","[0, 0, 13, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[În, Capitolul, IV, “, Rolul, unităților, de, ...","[True, True, True, False, True, True, True, Tr..."
12326,"[O, O, O, O, O, GPE, O, O, O, O, GPE, O, GPE, ...","[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 3, 0, 3, 0, 0, ...","[Naționala, de, volei, masculin, a, României, ...","[True, True, True, True, True, True, True, Fal..."
12327,"[PERSON, O, O, O, O, ORG, O, PERSON, PERSON, O...","[1, 0, 0, 0, 0, 2, 0, 1, 1, 0, 2, 0, 0, 0, 0, ...","[Președintele, Comisiei, de, Buget, a, Senatul...","[True, True, True, True, True, False, True, Tr..."
12328,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Majorarea, este, justificată, de, benzinari, ...","[True, True, True, True, True, True, True, Tru..."
12329,"[O, O, O, PERSON, O, O, O, O, O, O, O, O, O, O...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Între, timp, ,, concubina, acestuia, și-, a, ...","[True, False, True, True, True, False, True, T..."

In [11]:
continuturi.describe()

,ner_tags,ner_ids,tokens,space_after
count,12330,12330,12330,12330
unique,12064,12064,12326,10823
top,"[O, O, O, O, O, NUMERIC, O, PERSON, O, O, O, G...","[0, 0, 0, 0, 0, 13, 0, 1, 0, 0, 0, 3, 0, 0, 0,...","[Conducătorul, auto, Leonard, Nicol, S., ,, de...","[True, True, True, True, True, True, True, Tru..."
freq,21,21,2,42

In [12]:
continuturi.head()

,ner_tags,ner_ids,tokens,space_after
0,"[O, GPE, O, O, O, O, O, O, LOC, O, O, O, O, O,...","[0, 3, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, ...","[În, România, ,, ca, de, altfel, în, întreaga,...","[True, False, True, True, True, True, True, Tr..."
1,"[O, O, O, DATETIME, DATETIME, O, O, O, O, O, O...","[0, 0, 0, 9, 9, 0, 0, 0, 0, 0, 0, 0, 13, 13, 1...","[Se, estimează, că, în, prezent, acestea, sunt...","[True, True, True, True, True, True, True, Tru..."
2,"[O, O, O, O, O, NUMERIC, O, O, O, PERSON, O, P...","[0, 0, 0, 0, 0, 13, 0, 0, 0, 1, 0, 1, 0, 0, 1,...","[Cartea, cuprinde, o, suită, de, 115, texte-re...","[True, True, True, True, True, True, True, Tru..."
3,"[O, O, O, O, O, O, O, O, O, O, O, DATETIME, DA...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 9, 9, 0]","[Bursele, pentru, proiecte, ArtsLink, -, terme...","[True, True, True, True, True, True, True, Tru..."
4,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Aplicația, informațională, este, însoțită, de...","[True, True, True, True, True, True, True, Tru..."

In [13]:
n = len(continuturi)
sentences = []
for i in range(n):
    sentence = ""
    for j, token in enumerate(continuturi["tokens"][i]):
        sentence += token
        if continuturi["space_after"][i][j]:
            sentence += " "
    sentences.append(sentence)

continuturi["sentences"] = sentences

In [14]:
continuturi["sentences"][0]

'În România, ca de altfel în întreaga Europă, stand up-ul este forma de divertisment cea mai îndrăgită de tineri în acest moment, comediantii reușind să umple săli care erau destinate mai degrabă artiștilor din zona muzicii pop rock, iar Badea, Bordea și Micutzu sunt printre cei care au contribuit direct la succesul acestei forme de divertisment în țara noastră.'

sursa: https://towardsdatascience.com/named-entity-recognition-ner-using-keras-bidirectional-lstm-28cd3f301f54

In [15]:
with open("tag_to_id.json") as f:
    tag_ids = json.load(f)
tag_ids

{'DATETIME': 9,
 'EVENT': 6,
 'FACILITY': 15,
 'GPE': 3,
 'LANGUAGE': 7,
 'LOC': 4,
 'MONEY': 11,
 'NAT_REL_POL': 5,
 'NUMERIC': 13,
 'O': 0,
 'ORDINAL': 14,
 'ORG': 2,
 'PERIOD': 10,
 'PERSON': 1,
 'QUANTITY': 12,
 'WORK_OF_ART': 8}

In [16]:
sentence_indexes = []
words = []
tags = []
word_indexes = []

vocabulary = []
for sentence in continuturi["tokens"]:
    vocabulary.extend(sentence)
vocabulary = list(set(vocabulary))
words_dict = {word: i for i, word in enumerate(vocabulary)}

for i, sentence in enumerate(continuturi["tokens"]):
    words.extend(sentence)
    tags.extend(continuturi["ner_ids"][i])
    sentence_indexes.extend([i for _ in range(len(sentence))])
    word_indexes.extend([words_dict[w] for w in sentence])

contents_df = pd.DataFrame()
contents_df["sentence"] = sentence_indexes
contents_df["word"] = words
contents_df["word_index"] = word_indexes
contents_df["tags"] = tags

In [17]:
contents_df

        sentence     word  word_index  tags
0              0       În       62075     0
1              0  România       52254     3
2              0        ,       37913     0
3              0       ca       11774     0
4              0       de        3619     0
...          ...      ...         ...   ...
553158     12329        a       35806     0
553159     12329    ieșit        3905     0
553160     12329       în       46840     0
553161     12329   stradă       25986     0
553162     12329        .       10549     0

[553163 rows x 4 columns]

In [18]:
token_indexes = []
for sentence in continuturi["tokens"]:
    indexes = [words_dict[w] for w in sentence]
    token_indexes.append(indexes)

continuturi["sentence_index"] = range(len(continuturi["tokens"]))
continuturi["token_indexes"] = token_indexes

In [19]:
continuturi

,ner_tags,ner_ids,tokens,space_after,sentences,sentence_index,token_indexes
0,"[O, GPE, O, O, O, O, O, O, LOC, O, O, O, O, O,...","[0, 3, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, ...","[În, România, ,, ca, de, altfel, în, întreaga,...","[True, False, True, True, True, True, True, Tr...","În România, ca de altfel în întreaga Europă, s...",0,"[62075, 52254, 37913, 11774, 3619, 35105, 4684..."
1,"[O, O, O, DATETIME, DATETIME, O, O, O, O, O, O...","[0, 0, 0, 9, 9, 0, 0, 0, 0, 0, 0, 0, 13, 13, 1...","[Se, estimează, că, în, prezent, acestea, sunt...","[True, True, True, True, True, True, True, Tru...",Se estimează că în prezent acestea sunt utiliz...,1,"[23286, 57257, 50272, 46840, 32578, 62081, 279..."
2,"[O, O, O, O, O, NUMERIC, O, O, O, PERSON, O, P...","[0, 0, 0, 0, 0, 13, 0, 0, 0, 1, 0, 1, 0, 0, 1,...","[Cartea, cuprinde, o, suită, de, 115, texte-re...","[True, True, True, True, True, True, True, Tru...",Cartea cuprinde o suită de 115 texte-remember ...,2,"[63392, 33654, 41178, 7957, 3619, 13629, 42965..."
3,"[O, O, O, O, O, O, O, O, O, O, O, DATETIME, DA...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 9, 9, 0]","[Bursele, pentru, proiecte, ArtsLink, -, terme...","[True, True, True, True, True, True, True, Tru...",Bursele pentru proiecte ArtsLink - termen limi...,3,"[56736, 19486, 25552, 44863, 4591, 28183, 1006..."
4,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Aplicația, informațională, este, însoțită, de...","[True, True, True, True, True, True, True, Tru...",Aplicația informațională este însoțită de un s...,4,"[36643, 6910, 13048, 22966, 3619, 27659, 3566,..."
...,...,...,...,...,...,...,...
12325,"[O, O, NUMERIC, O, O, O, O, O, O, O, O, O, O, ...","[0, 0, 13, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[În, Capitolul, IV, “, Rolul, unităților, de, ...","[True, True, True, False, True, True, True, Tr...",În Capitolul IV “Rolul unităților de învățămân...,12325,"[62075, 13278, 44792, 55287, 24054, 32122, 361..."
12326,"[O, O, O, O, O, GPE, O, O, O, O, GPE, O, GPE, ...","[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 3, 0, 3, 0, 0, ...","[Naționala, de, volei, masculin, a, României, ...","[True, True, True, True, True, True, True, Fal...",Naționala de volei masculin a României a învin...,12326,"[34227, 3619, 55119, 10601, 35806, 61810, 3580..."
12327,"[PERSON, O, O, O, O, ORG, O, PERSON, PERSON, O...","[1, 0, 0, 0, 0, 2, 0, 1, 1, 0, 2, 0, 0, 0, 0, ...","[Președintele, Comisiei, de, Buget, a, Senatul...","[True, True, True, True, True, False, True, Tr...","Președintele Comisiei de Buget a Senatului, Vi...",12327,"[56667, 13502, 3619, 42215, 35806, 48255, 3791..."
12328,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Majorarea, este, justificată, de, benzinari, ...","[True, True, True, True, True, True, True, Tru...",Majorarea este justificată de benzinari prin c...,12328,"[45269, 13048, 14957, 3619, 24080, 26890, 6290..."
12329,"[O, O, O, PERSON, O, O, O, O, O, O, O, O, O, O...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Între, timp, ,, concubina, acestuia, și-, a, ...","[True, False, True, True, True, False, True, T...","Între timp, concubina acestuia și-a revenit di...",12329,"[55272, 23169, 37913, 21436, 25042, 11075, 358..."

In [20]:
! pip install keras.utils

Requirement already satisfied: keras.utils in /usr/local/lib/python3.7/dist-packages (1.0.13)
Requirement already satisfied: Keras>=2.1.5 in /usr/local/lib/python3.7/dist-packages (from keras.utils) (2.8.0)

In [21]:
from keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical

In [22]:
import tensorflow as tf

In [23]:
# add padding
all_tokens = continuturi["token_indexes"].to_list()
max_len = max([len(s) for s in all_tokens])
pad_tokens = pad_sequences(all_tokens, maxlen=max_len, dtype="int32", padding="post", value=words_dict["."])

all_tags = continuturi["ner_ids"].to_list()
pad_tags = pad_sequences(all_tags, maxlen=max_len, dtype="int32", padding="post", value=tag_ids["O"])
number_of_tags = len(tag_ids)
pad_tags = [to_categorical(i, num_classes=number_of_tags) for i in pad_tags]


train_tokens = tf.convert_to_tensor(pad_tokens)
train_tags = tf.convert_to_tensor(pad_tags)

In [24]:
type(train_tokens)

tensorflow.python.framework.ops.EagerTensor

In [25]:
import numpy as np
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

chitcanii_de_camp_seed = 15
tf.random.set_seed(chitcanii_de_camp_seed)

In [26]:
max_len
import os

In [27]:
input_dim = len(contents_df["word"])
output_dim = 64
input_length = max_len
n_tags = len(tag_ids)

dir = os.path.join(os.getcwd(), 'saved_models')
model_name = 'lstm.{epoch:03d}.h5' 
if not os.path.isdir(dir):
    os.makedirs(dir)
filepath = os.path.join(dir, model_name)

model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=filepath,
    save_weights_only=True,
    monitor='val_accuracy',
    mode='max',
    save_best_only=True)


def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2), merge_mode = "concat"))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    # Optimiser 
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss="categorical_crossentropy", optimizer="Adam", metrics=["accuracy"])
    model.summary()
    
    
    return model

In [28]:
def train_model(X, y, model):
    loss = list()
    for i in range(30): # replace to 10
        # fit model for one epoch on this sequence
        print(f"Training in epoch {i + 1}")
        hist = model.fit(X, y, batch_size=100, verbose=1, epochs=1, validation_split=0.2, callbacks=[model_checkpoint_callback])
        loss.append(hist.history["loss"][0])
    return loss

In [29]:
results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
plot_model(model_bilstm_lstm)
results["with_add_lstm"] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 561, 64)           35402432

 bidirectional (Bidirectiona  (None, 561, 128)         66048
 l)

 lstm_1 (LSTM)               (None, 561, 64)           49408

 time_distributed (TimeDistr  (None, 561, 16)          1040
 ibuted)

=================================================================
Total params: 35,518,928
Trainable params: 35,518,928
Non-trainable params: 0
_________________________________________________________________
Training in epoch 1
99/99 [==============================] - 20s 137ms/step - loss: 0.2092 - accuracy: 0.9704 - val_loss: 0.1338 - val_accuracy: 0.9793
Training in epoch 2
99/99 [==============================] - 12s 120ms/step - loss: 0.1411 - accuracy: 0.9797 - val_loss: 0.1347 - val_accuracy: 0.9793
Training in epoch 3
99/99 [==============================] - 12s 123ms/step - loss: 0.1191 - accuracy: 0.9797 - val_loss: 0.1315 - val_accuracy: 0.9794
Training in epoch 4
99/99 [==============================] - 12s 120ms/step - loss: 0.1127 - accuracy: 0.9796 - val_loss: 0.1152 - val_accuracy: 0.9792
Training in epoch 5
99/99 [==============================] - 12s 122ms/step - loss: 0.1068 - accuracy: 0.9797 - val_loss: 0.0993 - val_accuracy: 0.9791
Training in epoch 6
99/99 [==============================] - 12s 125ms/step - loss: 0.0905 - accuracy: 0.9798 - val_loss: 0.1152 - val_accuracy: 0.9794
Training in epoch 7
99/99 [==============================] - 12s 126ms/step - loss: 0.0974 - accuracy: 0.9784 - val_loss: 0.0857 - val_accuracy: 0.9794
Training in epoch 8
99/99 [==============================] - 13s 127ms/step - loss: 0.0676 - accuracy: 0.9800 - val_loss: 0.0754 - val_accuracy: 0.9797
Training in epoch 9
99/99 [==============================] - 12s 125ms/step - loss: 0.0577 - accuracy: 0.9807 - val_loss: 0.0761 - val_accuracy: 0.9806
Training in epoch 10
99/99 [==============================] - 13s 127ms/step - loss: 0.0528 - accuracy: 0.9821 - val_loss: 0.0773 - val_accuracy: 0.9813
Training in epoch 11
99/99 [==============================] - 12s 124ms/step - loss: 0.0523 - accuracy: 0.9822 - val_loss: 0.0833 - val_accuracy: 0.9803
Training in epoch 12
99/99 [==============================] - 13s 127ms/step - loss: 0.0517 - accuracy: 0.9818 - val_loss: 0.0795 - val_accuracy: 0.9814
Training in epoch 13
99/99 [==============================] - 13s 128ms/step - loss: 0.0467 - accuracy: 0.9834 - val_loss: 0.0795 - val_accuracy: 0.9822
Training in epoch 14
99/99 [==============================] - 13s 127ms/step - loss: 0.0432 - accuracy: 0.9838 - val_loss: 0.0782 - val_accuracy: 0.9826
Training in epoch 15
99/99 [==============================] - 13s 127ms/step - loss: 0.0407 - accuracy: 0.9853 - val_loss: 0.0825 - val_accuracy: 0.9838
Training in epoch 16
99/99 [==============================] - 13s 127ms/step - loss: nan - accuracy: 0.9857 - val_loss: 0.0828 - val_accuracy: 0.9844
Training in epoch 17
99/99 [==============================] - 13s 127ms/step - loss: nan - accuracy: 0.9864 - val_loss: 0.0791 - val_accuracy: 0.9848
Training in epoch 18
99/99 [==============================] - 13s 133ms/step - loss: nan - accuracy: 0.9877 - val_loss: 0.0889 - val_accuracy: 0.9855
Training in epoch 19
99/99 [==============================] - 13s 128ms/step - loss: nan - accuracy: 0.9885 - val_loss: nan - val_accuracy: 0.9862
Training in epoch 20
99/99 [==============================] - 13s 129ms/step - loss: nan - accuracy: 0.9878 - val_loss: 0.0794 - val_accuracy: 0.9861
Training in epoch 21
99/99 [==============================] - 13s 127ms/step - loss: nan - accuracy: 0.9893 - val_loss: nan - val_accuracy: 0.9870
Training in epoch 22
99/99 [==============================] - 13s 127ms/step - loss: nan - accuracy: 0.9900 - val_loss: nan - val_accuracy: 0.9873
Training in epoch 23
99/99 [==============================] - 13s 130ms/step - loss: nan - accuracy: 0.9909 - val_loss: nan - val_accuracy: 0.9881
Training in epoch 24
99/99 [==============================] - 13s 129ms/step - loss: nan - accuracy: 0.9899 - val_loss: 0.0738 - val_accuracy: 0.9881
Training in epoch 25
99/99 [==============================] - 13s 126ms/step - loss: nan - accuracy: 0.9896 - val_loss: nan - val_accuracy: 0.9880
Training in epoch 26
99/99 [==============================] - 13s 126ms/step - loss: nan - accuracy: 0.9897 - val_loss: 0.0872 - val_accuracy: 0.9829
Training in epoch 27
99/99 [==============================] - 13s 130ms/step - loss: nan - accuracy: 0.9893 - val_loss: nan - val_accuracy: 0.9889
Training in epoch 28
99/99 [==============================] - 13s 133ms/step - loss: nan - accuracy: 0.9920 - val_loss: nan - val_accuracy: 0.9895
Training in epoch 29
99/99 [==============================] - 13s 128ms/step - loss: nan - accuracy: 0.9932 - val_loss: nan - val_accuracy: 0.9897
Training in epoch 30
99/99 [==============================] - 13s 127ms/step - loss: nan - accuracy: 0.9938 - val_loss: nan - val_accuracy: 0.9906

In [30]:
# save model
import pickle


with open("lstm_model.pkl", "wb") as f:
    pickle.dump(model_bilstm_lstm, f)

# load model
# with open("lstm_model.pkl", "rb") as f:
#     model_bilstm_lstm = pickle.load(f)

WARNING:absl:Found untraced functions such as lstm_cell_3_layer_call_fn, lstm_cell_3_layer_call_and_return_conditional_losses, lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_2_layer_call_fn while saving (showing 5 of 6). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: ram://639bfbf3-608a-48c6-9995-edf47ddbdf70/assets

INFO:tensorflow:Assets written to: ram://639bfbf3-608a-48c6-9995-edf47ddbdf70/assets
WARNING:absl:<keras.layers.recurrent.LSTMCell object at 0x7f79801a6890> has the same name 'LSTMCell' as a built-in Keras object. Consider renaming <class 'keras.layers.recurrent.LSTMCell'> to avoid naming conflicts when loading with `tf.keras.models.load_model`. If renaming is not possible, pass the object in the `custom_objects` parameter of the load function.
WARNING:absl:<keras.layers.recurrent.LSTMCell object at 0x7f79800ec650> has the same name 'LSTMCell' as a built-in Keras object. Consider renaming <class 'keras.layers.recurrent.LSTMCell'> to avoid naming conflicts when loading with `tf.keras.models.load_model`. If renaming is not possible, pass the object in the `custom_objects` parameter of the load function.
WARNING:absl:<keras.layers.recurrent.LSTMCell object at 0x7f79800922d0> has the same name 'LSTMCell' as a built-in Keras object. Consider renaming <class 'keras.layers.recurrent.LSTMCell'> to avoid naming conflicts when loading with `tf.keras.models.load_model`. If renaming is not possible, pass the object in the `custom_objects` parameter of the load function.

In [32]:
path = './test.json'
test_df = pd.read_json(path)

In [33]:
all_representations = []
for i in range(len(test_df)):
  embeddings = []
  for p in test_df['tokens'][i]:
    if p in words_dict.keys():
      embeddings.append(words_dict[p])
    else:
      embeddings.append(-1)
  all_representations.append(embeddings)

In [36]:
pad_tokens = pad_sequences(all_representations, maxlen=max_len, dtype="int32", padding="post", value=words_dict["."])
test_tokens = tf.convert_to_tensor(pad_tokens)

In [38]:
test_tokens.shape

TensorShape([2421, 561])

In [39]:
predictions = model_bilstm_lstm.predict(test_tokens)

In [41]:
predictions.shape

(2421, 561, 16)

In [52]:
words = []
preds = [] 
j = 0
for i in range(len(test_df)):
  for x in range(len(test_df['tokens'][i])):
      preds.append(int(tf.argmax(predictions[i][x])))
      words.append(j)
      j += 1

In [53]:
preds[0]

0

In [54]:
import csv

header = ['Id', 'ner_label']

with open('submission.csv', 'w') as f:
  writer = csv.writer(f)
  writer.writerow(header)
  for i, pred_label in enumerate(preds):
    writer.writerow([i, pred_label])